@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Rubik", sans-serif;

    /* Colors */

    --blue-100: rgb(189, 193, 255);
    --blue-200: rgb(111, 118, 200);
    --blue-300: rgb(86, 194, 230);
    --blue-500: rgb(88, 71, 235);
    --blue-700: rgb(50, 56, 132);
    --blue-800: rgb(28, 31, 74);
    --blue-900: rgb(15, 20, 36);
    --orange-200: rgb(255, 140, 102);
    --red-300: rgb(255, 92, 124);
    --lime-green-500: rgb(74, 207, 129);
    --violet-500: rgb(117, 54, 211);
    --yellow-300: rgb(241, 198, 91);

    /* Fonts */
    --font-size-h1: clamp(2.5rem, 1.84rem + 1.5rem, 4rem);
    --font-size-time-window: 2rem;
    --font-size-activity-name: 2rem;
    --font-size-activity-result: 4rem;
    --font-size-activity-window: 1.5rem;

    /* Border Radius */
    --br: 2rem;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--blue-900);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    padding: 8rem 2.5rem;
}

section.activity-tracker {
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.5rem;
}


section.profile {
    background: var(--blue-800);
    border-radius: var(--br);
    overflow: hidden;
    width: 100%;
}

.owner {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    background: var(--blue-500);
    border-radius: 0 0 var(--br) var(--br);
}

.owner-img {
    width: 6.5rem;
    border: 0.25rem solid white;
    border-radius: 50%;
}

.owner-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.owner-report {
    font-size: 1.5rem;
    color: var(--blue-100);
}

.owner-name {
    font-size: var(--font-size-h1);
    font-weight: 300;
    color: white;
}

.tracker-options {
    padding: 2.5rem 2rem 2.5rem 3.3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
}

.tracker-option {
    background-color: var(--blue-800);
    border: none;
    width: max-content;
    font-size: var(--font-size-activity-window);
    color: var(--blue-200);
    transition: color 250ms;
    cursor: pointer;
}

.tracker-option:is(:hover, :active) {
    color: white;
}

.tracker-activity {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    border-radius: var(--br);
}

.tracker-activity:is(.work) {
    --background: var(--orange-200);
}

.tracker-activity:is(.play) {
    --background: var(--blue-300);
}

.tracker-activity:is(.study) {
    --background: var(--red-300);
}

.tracker-activity:is(.exercise) {
    --background: var(--lime-green-500);
}

.tracker-activity:is(.social) {
    --background: var(--violet-500);
}

.tracker-activity:is(.self-care) {
    --background: var(--yellow-300);
}

.activity-bg {
    grid-row: 1/3;
    grid-column: 1/2;
    background: var(--background);
    display: grid;
    place-items: start end;
    height: 70%;
}

.activity-bg > img {
    transform: translate(-2rem, -1rem);
    position: relative;
    z-index: 1;
}

.activity-info {
   position: relative;
   z-index: 5;
   grid-row: 2/3;
   grid-column: 1/2;
   background: var(--blue-800);
   transition: background 250ms, transform 250ms;
   height: 100%;
   padding: 3rem 2.5rem;
   display: flex;
   flex-flow: column nowrap;
   gap: 0.5rem;
   cursor: pointer;
}

.activity-options-btn {
    border: none;
    background: var(--blue-800);
    transition: background 250ms, transform 250ms;
    font-size: 2.5rem;
    color: rgb(195, 195, 195);
}

.tracker-activity:hover > .activity-info {
    background: var(--blue-700);
}

.tracker-activity:hover .activity-options-btn {
    background: var(--blue-700);
}

.activity-options-btn:hover {
    color: white;
    cursor: pointer;
}

.activity-header, .activity-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.activity-name {
    color: white;
    font-weight: 500;
}

.current-time {
    font-size: var(--font-size-activity-result);
    font-weight: 300;
    line-height: 6.5rem;
}

.previous-time {
    display: flex;
    font-size: var(--font-size-activity-window);
    color: var(--blue-100);
}

@media screen and (min-width: 500px) {
    section.activity-tracker {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-template-rows: 1fr 1fr;
        min-height: 50rem;
        gap: 3rem;
    }

    section.profile {
        grid-row: 1/3;
        display: flex;
        flex-flow: column nowrap;
    }

    .owner {
        padding: 3.5rem 3rem 8rem 3rem;
        flex-flow: column nowrap;
        align-items: start;
        gap: 4.3;
        flex: 1 0 auto;
    }

    .owner-img {
        width: 7.5rem;
    }

    .owner-container {
        gap: 0.3rem;
        max-width: 80%;
    }

    .owner-name {
        line-height: 4rem;
    }

    .tracker-options {
        flex-flow: column nowrap;
        gap: 2rem;
        padding: 2.6rem 3.2rem 3.2rem;
    }

    .tracker-activity {
        grid-template-rows: 4.5rem 1fr;
    }

    .activity-info {
        gap: 2.4rem;
        padding: 2.9rem 3rem 3.2rem;
    }

    .activity-time {
        flex-flow: column nowrap;
        align-items: start;
        gap: 0.8rem;
    }
}

@media screen and (min-width: 1110px) {
    section.activity-tracker {
        max-width: 111rem;
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }